<div class="container">
    <div class="left-side">
      <div class="content-wrapper">
        <h1>Anthony Parashou</h1>
        <h5>Web Developer & Software Engineer</h5>
        <div class="social-buttons social-links">
          <a href="https://www.linkedin.com/in/anthonyparashou" rel="noopener" target="_blank" class="social-buttons"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/Anthony-P0" rel="noopener" target="_blank" class="social-buttons"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>

    <div class="right-side">
      <!-- <button mat-raised-button class="download-button" (click)="downloadResume()">Download my Résumé</button> -->
      <button mat-raised-button extended class="download-button" (click)="downloadResume()"><mat-icon>download</mat-icon> Download my Résumé</button>
    </div>
  </div>
  